<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LatinoLink{% endblock %}</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li>{% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <li><a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a></li>    
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}</li>
            <li><a href="{% url 'candidate_options' %}">Candidates</a></li>
            <li><a href="{% url 'sponsor_options' %}">Sponsors</a></li>
            
            

        </ul>
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    </nav>

    <div>
        {% block content %}  
        {% endblock %}
    </div>

</body>
</html>
